---
name: Shared - Continuous Integration for common tasks

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  contents: read

jobs:
  linter:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/linter.yml@1c379f7f6e0fc850fe5a7111f74d54e159b4dcd2 # 0.26.0
    permissions:
      actions: read
      contents: read
      statuses: write
      security-events: write
    with:
      # FIXME: Remove useless linters on next super-linter release
      linter-env: |
        VALIDATE_KUBERNETES_KUBECONFORM=false

  tests-charts:
    name: Tests - Charts
    runs-on: "ubuntu-latest"
    steps:
      - name: Test helm charts
        uses: hoverkraft-tech/ci-github-container/actions/helm/test-chart@4f29319e02dd65152386c436e8c3136f380a0e71 # 0.28.0
        with:
          helm-repositories: |
            bitnami https://charts.bitnami.com/bitnami
          helm-set: |
            global.railsSecretKey=\$RAILS_SECRET_KEY
            global.signingKey=\$SIGNING_KEY
        env:
          RAILS_SECRET_KEY: ${{ secrets.RAILS_SECRET_KEY }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
